body
{background-color: azure;}

h1
{color: white;
 font-weight: bold;
font-size: 22px;}

table, td, tr, th 
{ border: 3px solid white;
    background-color: white;}

.header
{background-color: lightseagreen;
 text-align: left;
 padding:10px; }

.wrap
{text-align:left;
margin: 0 auto;
border: 1px solid black;
margin-top: 5px;
}


.main
{padding: 25px}


.footer
{
text-align: left;
padding: 25px;
}

form { display: table;
       border: 1pt solid black;
}